body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* // Small devices (landscape phones, 200px and up) */
@media (min-width: 200px) {
	.btn-group {
		width: 600px !important;
	}
	.btn {
		font-size: 6.72px !important;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.btn {
		font-size: 10.4px !important;
	}
	.btn-group {
		width: 800px !important;
	}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.btn {
		font-size: 13.52px !important;
	}
	.btn-group {
		width: 1110px !important;
	}
}
